.div-background{
    background-image: url('https://media.gettyimages.com/photos/panoramic-view-of-business-bay-and-downtown-area-of-dubai-uae-picture-id643710890?b=1&k=6&m=643710890&s=612x612&w=0&h=YtTe63ZhJUtNsZkYJm6XG0vmVV4TDak-M-o2GKqSJ2Y=');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}