<header>
    <dir class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-md-7 text-muted">
                    <h4 class="text-white">Sobre</h4>
                    <p class="text-light">
                        AQUI VOCE COLOCA O TEXTO QUE VOCE QUIZER!
                    </p>
                </div>
                <div class="col-sm-4  offset-md-1">
                    <h4 class="text-white">OPÇÕES</h4>
                    <ul>
                        <li><a href="#" class="text-white">Eventos de Hoje</a></li>
                        <li><a href="#" class="text-white">Todos os Eventos</a></li>
                        <li><a href="/admin" target="_blank" class="text-white">Administração</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </dir>
    <dir class="navbar navbar-dar bg-dark box-shadow">
        <dir class="contanier d-flex justify-content-between">
            <span class="navbar-brand d-flex aling-intems-center">
                <strong> <a href="text-white" href=" {% url 'agenda-events-index'%}"> Agenda de Eventos</a></strong>

            </span>
            <button class="navbar-toggler"
                    type="button" data-toggle="collapse"
                    data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-incon"></span>

            </button>

        </dir>

    </dir>
</header>